<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
</head>
<body>
    
    <script src='http://code.jquery.com/jquery-2.2.1.min.js'></script>
    <script>
        (function () {
            
            $.ajax({
                type: "POST",
                url: '/user',
                data: {
                    username: 'oskar',
                    email: "mail@mail.com",
                    password: "password"
                },
                success: function(res) {
                    console.log(res);
                },
                error: function(req, err){
                    console.log("Nope, get back to work");
                }
            });


        })();

    </script>
</body>
</html>