.markdown img{
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 500px;
  overflow: hidden;
  margin: 0 auto 15px;
}

.message_info{
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  font-size: 12px;
  color: #ccc;
  padding: 5px 1px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.message_info a{
  color: $purple;
  font-weight: bold;
}
