
.filter-active-bar{
  background: $dark;
  margin: 0;
  box-sizing: border-box;
  padding: 5px 10px;
  color: #337ab7;
}

.filter-active-bar span{
  margin-right: 10px;
}

.navbar{
  border: none;
}

.navbar-header{
  box-sizing: border-box;
}

.mobile-active {
  border-bottom: 3px solid $brand;
}

.navbar-header a{
  text-decoration: none;
  color: #fff;
  padding-bottom: 10px;
  line-height: 50px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ccc;
}
