
.feed_wrapper{
  padding: 0 10px;
}

.new_post_wrapper, .message_post{
  width: 100%;
  height: auto;
  padding: 10px;
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: -2px 3px 6px rgba(0,0,0,0.1);
}

.feed_tags{
  padding: 20px 5px;
  box-sizing: border-box;
}

#new_message{
  resize: none;
  background: #fff;
  padding: 5px;
  border-radius: 0;
  border: none;
  outline-style:none;
  color: $dark;
  box-shadow:none;
  border-color:transparent;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.post_btn{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
}

.clearfix{
  overflow: auto;
}



@media screen and ( max-width: 768px ){
  .active-filters-bar{
    background: $purple;
    margin-top: -20px;
    padding-bottom: 80px;
  }
  .new_post_wrapper{
    margin-top: -75px;
  }
  .char_count{
    font-size: 12px;
    color: $grey;
    text-align: center;
  }
}
