#home-wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box{
  position: relative;
  width: 95%;
  min-height: 350px;
  background: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.1);
}

.home-form{
  width: 90%;
  margin: 0 auto;
}

.home-form input{
  margin-bottom: 5px;
}

.home-form label{
  font-size: 10px;
  display: block;
  text-align: left;
}


.reg_btn{
  width: 100%;
  margin-top: 10px;
}


@media screen and (min-width: 768px){
  .login-box{
    width: 350px;
  }
}

@media screen and ( max-width: 768px ){
  #home-wrapper{
    background: url('/src/images/loginBg.jpg');
    background-size: cover;
    background-position: center;
  }
  .login-state{
    display: flex;
    padding: 0 40px;
    margin: 30px auto;
    justify-content: space-between;
    span{
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  .login-box{
    width: 100%;
    background: rgba(255,255,255,0);
    color: $light;
  }
  .login-box h3{
    font-size: 52px;
    font-weight: bold;
    color: #fff;
  }
  label{
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 10px;
  }

  .reg_btn{
    height: 40px;
    background: $blue;
    border-radius: 20px;
  }
  .active{
    border-bottom: 2px solid $blue;
  }

  .home-form > .form-control{
    color: #fff;
  }
}
