

form label{
  font-size: 12px;
  font-weight: 300;
}



@media screen and ( max-width: 768px ){
  .profile_header{
    background: $purple;
    margin-top: -25px;
    margin-bottom: 20px;
    padding: 15px;
  }
  .profile_header h3{
    color: #fff!important;
    text-align: center;
    margin: 0 0 10px;
  }
  .profile_header p{
    color: $grey;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 auto;
  }
}
