//Components
@import 'vars/colors';
@import 'vars/fonts';

//Views
@import 'components/navbar';
@import 'components/feeditem';
@import 'views/home';
@import 'views/feed';
@import 'views/profile';
@import 'views/settings';



body{
    background: $light;
    font-family: 'Open Sans';
}

.form-control{
  background: rgba(255,255,255,0.3);
  border-radius: 20px;
  height: 40px;
  border: none;
  color: $dark;
  margin-bottom: 15px!important;
}
